* {
  margin: 0;
  padding: 0;
}
.error{
  color: red;
}

/*----IMAGEN DE VERSACE-----*/
.imagen{
  padding: 40px;
  width: 1000px;
  height: 500px;
}

/*----ACTULIZACION DE VESTIMENTAS----*/
.popup-edit{
  background-color: #0b3801;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  max-width: 250px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

/* ----------INICIO-------- */
body{
  background-color: #c4f0c2;
  color: #0b3801;
  text-align: center;
}
h1, h2 , h3 ,h4 ,h5 ,h6, p{
  font-family: "Press Start 2p";
  font-size: smaller;
}
.bienvenido{
  padding: 40px;
  font-style: italic;
}

/*--------PRODUCTOS EN VENTA---------*/
.contenedor-productos{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}
.producto{
  border: 1px solid;
  padding: 1rem;
  width: 200px;
}

/*-------CAJA DEL DASHBOARD-------*/
.cajita{
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  max-width: 250px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

/*--------CAJA DEL LOGIN-------*/
.cajita2{
  border: 1px solid;
  border-radius: 10px;
  padding: 40px;
  max-width: 250px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

/*---------CAJA DEL REGISTRATE--------*/
.cajita3{
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  max-width: 250px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

/*-----POR QUE ELEGIRNOS------*/
.pregunta{
  padding: 40px;
  font-style: italic;
}
.propuesta{
  display: flex;
  flex-direction: column;

}

/*--------BARRA DE BUSQUEDA Y PRODUCTOS------*/
.buscar{
  margin: 40px;
}
.producto-titulo{
  font-size: 10px;
}
.producto-img{
  width: 80px;
}
.producto-precio{
  font-size: 10px;
}
.producto-descripcion{
  font-size: 10px;
  margin-bottom: 10px;
}
.producto-categoria{
  font-size: 10px;
  font-style: italic;
}

/*--------FOOTER---------*/
.footer{
  padding: 40px;
  background-color: rgb(104, 226, 147);
}

/*----------MEDIA--------*/
@media (max-width: 880px) {
  .imagen{
    width: 700px;
    height: 350px;
  }
}
@media (max-width: 480px) {
  .imagen{
    width: 400px;
    height: 200px;
  }
}